.container-list{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    background: var(--background);
    grid-row-gap: 2.3em;
    padding: 4em 2em;
    border: 1px solid red;
    justify-items: center;
}